:root {
  --color-white: #fff;
  --color-red-dark: #bc0404;
  --color-border: #b99839;
}



@default-font-size: 1.6rem;
@medium-font-size: 2rem;
@header-font-size: 6rem;



/*
@paddind-top-medium: 4rem;
@paddind-bottom-medium: 4rem;

@padding-top-small: 3vh;
@padding-bottom-small: 3vh;

@margin-top-small: 3rem;
@margin-bottom-small: 3rem;

@margin-top-medium: 4rem;
@margin-bottom-medium: 4rem;
 */


@paddind-top-medium: 4vh;
@paddind-bottom-medium: 4vh;

@padding-huge: 6vh;

@padding-top-small: 3vh;
@padding-bottom-small: 3vh;

@margin-top-small: 3vh;
@margin-bottom-small: 3vh;

@margin-top-medium: 4vh;
@margin-bottom-medium: 4vh;




