* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-family: "Cambria";
  color: var(--color-white);
  background-image: url(../images/background1366.jpg);
  background-size: cover;
  min-height: 100vh;
}
