.main {
  border-bottom: 1px solid var(--color-border);
}

.main-container {
  max-width: 86rem;
  text-align: center;
  margin: 0 auto;
  background: url(../images/main-product.png) no-repeat right center;
  background-size: 24rem;
  height: 90vh;

  /* & > * {
    max-width: 84%;
  } */
}

.content-wrapper {
  max-width: 84%;
}

.caption--main {
  font-size: 4.8rem;
  text-transform: uppercase;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

.text-info {
  font-size: @medium-font-size;
  text-transform: uppercase;
  line-height: 1;

  &--sub {
    display: block;
  }
}



.social {
  display: flex;
  justify-content: space-between;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
  }

  &__img {
    max-width: 50%;
    margin-bottom: 1rem;
  }

  &__link {
    display: inline-block;
    font-size: @default-font-size;
    color: var(--color-white);
  }
}


.footer {
//  background: url(../images/bg-footer.png) no-repeat center -43rem;
//  background-size: 100rem;
  background: url(../images/bg-footer.png);
  background-position: center bottom;
  background-size: cover;

}


.footer-container {
  min-height: 10vh;
  max-width: 86rem;
  margin: 0 auto;
  background: url(../images/bg-footer.png);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer__contact {
  margin-bottom: 0.4rem;
}

/* .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */

