

.main-container {
 // max-width: 55%;
  max-width: 60vw;

  text-align: center;
  margin: 0 auto;
 // background: url(../images/main-product.png) no-repeat right center;
  //background-size: 24rem;

  margin-left: 15vw;

  /* & > * {
    max-width: 84%;
  } */
}


.navigation {
  padding: 5vh 0;
}

.component {
  position: relative;
  padding: 0 15px;
}

.bottle-container {
  position: absolute;
  right: 10rem;
  top: 2rem;
}


.bottle {
  max-height: 77vh;
  position: absolute;
}

.content-wrapper {
  max-width: 84%;
}

.caption--main {
  font-size: @header-font-size;
  text-transform: uppercase;
  margin-bottom: 5vh;
  line-height: 1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

.text-info {
  font-size: @medium-font-size;
  text-transform: uppercase;
  margin: 3vh 0;

  &--sub {
    display: block;
  }
}



.social {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }

  &__img {
    max-width: 50%;
    margin-bottom: 1rem;
    vertical-align: middle;
  }

  &__link {
    display: inline-block;
    font-size: @medium-font-size;
    color: var(--color-white);
  }
}


.footer {
//  background: url(../images/bg-footer.png) no-repeat center -43rem;
//  background-size: 100rem;
  background: url(../images/bg-footer.png);
  background-position: center bottom;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--color-border);
//  background-size: cover;

}


.footer-container {
  min-height: 15vh;
  max-width: 86rem;
  margin: 0 auto;
/*   background: url(../images/bg-footer.png);
background-position: center bottom;
background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer__contact {
  margin-bottom: 0.4rem;
  font-size: @default-font-size;
}

.footer__promo {
  font-size: @default-font-size;
}

/* .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */

