{% extends "promo.njk" %}

{% block title %}

    <title>Вопрос-ответ</title>

{% endblock title %}

{% block content %}

    <div class="container">

            <div class="content">

              <nav class="navigation">
                <a href="promotion-rules.html" class="btn btn--transparent">Правила акции</a>
                <a href="index.html" class="btn btn--transparent">На главную</a>
              </nav>

              <h1 class="caption-main">Вопрос-ответ</h1>

            </div>

            <div class="content rules">
              <div class="articles">

                <div class="article">
                  <h3 class="article__header">Вопрос?</h3>
                  <div class="article__content">
                    <p class="article__text">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet.</p>
                    <p class="article__text">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem!</p>
                    <p class="article__text">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, esse.</p>
                    <p class="article__text">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>

                <div class="article">
                  <h3 class="article__header">вопрос?</h3>
                  <div class="article__content">
                    <p class="article__text">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet.</p>
                    <p class="article__text">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem!</p>
                    <p class="article__text">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, esse.</p>
                    <p class="article__text">4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore unde illo debitis inventore nam voluptate nihil necessitatibus porro explicabo, laudantium!</p>
                  </div>
                </div>

                <div class="article">
                  <div class="article__header">вопрос?</div>
                  <div class="article__content">
                    <p class="article__text">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet.</p>
                    <p class="article__text">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem!</p>
                    <p class="article__text">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, esse.</p>
                    <p class="article__text">4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore unde illo debitis inventore nam voluptate nihil necessitatibus porro explicabo, laudantium!</p>
                  </div>
                </div>

              </div>
            </div>

        </div>

{% endblock %}
