<div class="component component__download">

  <a target="_blank" class="component__download__link" href="documents/Hello_world.PDF">
    <p class="btn btn-transparent component__download__btn">Скачать полные правила</p>
    <img class="component__download__img" src="images/PDF.png" alt="PDF">
    <span class="component__download__size">276 кб</span>
  </a>

</div>
