<footer class="footer">
  <div class="container container--left-side">
    <div class="footer__rules">
      <p class="footer__phone">Телефон горячей линии: <span>8 800 20 00 600</span></p>
      <p class="footer__promo">Сроки Акции <span> с 01.04 по 31.05.2018 г.</span></p>
    </div>
    <div class="footer__logo">
      <img class="footer__img" src="images/footer-logo.png" alt="main product">
    </div>
  </div>
</footer>
